/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Barre de navigation */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-right {
    display: flex;
    gap: 20px;
}

.nav-right .btn {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-right .btn:hover {
    color: #000;
    border-bottom: 2px solid #000;
}

.settings img {
    width: 25px;
    cursor: pointer;
}

/* Section principale */
h2 {
    color: #2C3E50;
    font-size: 1.8em;
    margin: 20px 0;
    text-align: center;
}

/* Explication pour l'export */
#export-explanation {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.1em;
}

/* Styles du bouton d'export */
#export-data {
    display: block; /* Affiche le bouton comme un bloc */
    margin: 0 auto; /* Centre le bouton horizontalement */
    background-color: #000; /* Noir pour le bouton */
    color: white; /* Texte blanc */
    padding: 10px 20px; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer au survol */
    font-size: 1em; /* Taille de police */
    transition: background-color 0.3s ease; /* Transition pour l'effet hover */
}

#export-data:hover {
    background-color: #444; /* Couleur légèrement plus claire au survol */
}

/* Styles des cartes */
.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.option-card {
    background-color: #ffffff; /* Fond blanc */
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px; /* Largeur fixe pour les cartes */
    text-align: center;
}

.option-card h3 {
    margin-bottom: 10px;
}

.option-card input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px); /* Ajuste la largeur en tenant compte du padding */
    margin-bottom: 10px; /* Espace entre le champ et le bouton */
}

.option-card button {
    background-color: #000; /* Noir intense pour le bouton */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

.option-card button:hover {
    background-color: #444; /* Un noir légèrement plus clair pour l'effet hover */
}

/* Liste des options ajoutées */
.option-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.option-list li {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9; /* Fond pour les éléments de la liste */
    padding: 5px;
    border-radius: 4px;
}

.option-list .supprimer {
    color: red;
    cursor: pointer;
    font-weight: bold;
}

.option-list .supprimer:hover {
    text-decoration: underline;
}

.supprimer {
    color: red; /* Couleur rouge pour la croix */
    margin-left: 10px; /* Espacement à gauche */
    cursor: pointer; /* Changement du curseur au survol */
    font-size: 0.8em; /* Taille de police réduite */
    vertical-align: middle; /* Aligne la croix au milieu du texte */
    line-height: 1; /* Réduit l'espacement vertical */
}
/* Styles pour le menu déroulant */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* Cache le contenu par défaut */
    position: absolute;
    background-color: white;
    min-width: 75px; /* Largeur légèrement augmentée pour plus de classe */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre plus douce */
    border-radius: 4px; /* Coins arrondis */
    z-index: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Transition douce */
    opacity: 0; /* Début transparent */
    visibility: hidden; /* Invisible au départ */
}

.dropdown:hover .dropdown-content {
    display: block; /* Affiche le contenu au survol */
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Rendre visible */
}

.dropdown-content a {
    color: #333; /* Couleur du texte */
    padding: 5px 8px; /* Espacement délicat pour une apparence plus fine */
    text-decoration: none;
    display: block;
    font-size: 0.85em; /* Taille de police réduite */
    transition: background-color 0.3s ease; /* Transition pour le survol */
}

.dropdown-content a:hover {
    background-color: #f0f0f0; /* Couleur de fond douce au survol */
    color: #000; /* Couleur du texte au survol */
    border-left: 2px solid #000; /* Ligne de couleur à gauche pour indiquer le survol */
}

/* Ajout d'un effet de transition pour l'apparition de la dropdown */
.dropdown:hover .dropdown-content {
    animation: slideIn 0.3s forwards; /* Animation d'apparition */
}

/* Animation pour la dropdown */
@keyframes slideIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.vinted-button-container {
    text-align: center; /* Centre le bouton */
    margin: 20px 0; /* Ajoute un espace au-dessus et en dessous */
}

.vinted-button {
    background-color: #76d7c4; /* Couleur de fond de Vinted */
    color: #FFFFFF; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement interne */
    font-size: 16px; /* Taille du texte */
    cursor: pointer; /* Curseur en forme de main */
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s; /* Animation de transition */
}

.vinted-button:hover {
    background-color: #76d7c4d2; /* Couleur de fond au survol */
}
